# QUESTION 3
For the trips in November 2025, how many trips had a trip_distance of less than or equal to 1 mile? <br>
a. 7,853 <br>
b. 8,007 <br>
c. 8,254 <br>
d. 8,421 <br>

In [1]:
#download dataset
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-24 15:13:18--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 52.85.97.194, 52.85.97.13, 52.85.97.44, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|52.85.97.194|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet.2’

green_tripdata_2025 100%[===================>]   1.11M  --.-KB/s    in 0.03s

2026-01-24 15:13:19 (34.1 MB/s) - ‘green_tripdata_2025-11.parquet.2’ saved [1164775/1164775]

In [3]:
import pandas as pd
df = pd.read_parquet("green_tripdata_2025-11.parquet")

In [10]:
#checking the data sample
df.head(2)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,filter_date,filter_distance
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.0,NaN,1.0,11.64,1.0,1.0,0.0,0.0,True,True
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.0,NaN,1.0,9.70,2.0,1.0,0.0,0.0,True,True

In [9]:
print(df.dtypes)

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
filter_date                        bool
filter_distance                    bool
dtype: object

In [6]:
# add column for date filter
df['filter_date'] = (df["lpep_pickup_datetime"] >= "2025-11-01") & (df["lpep_pickup_datetime"] < "2025-12-01")

# add column for distance filter
df['filter_distance'] = df["trip_distance"] <= 1

In [7]:
#checking whether the column is added or not
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee', 'filter_date', 'filter_distance'],
      dtype='object')

In [8]:
#check the total data that matches filter date and filter distance
len(df[(df['filter_date']==True) & (df['filter_distance']==True)])

8007

the answer is 8007 (b)