# QUESTION 6

For the passengers picked up in the zone named "East Harlem North" in November 2025, which was the drop off zone that had the largest tip? (1 point) <br>

a. JFK Airport <br>
b. Yorkville West <br>
c. East Harlem North <br>
d. LaGuardia Airport

In [11]:
#download dataset green trip data
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-26 06:30:03--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 52.85.97.13, 52.85.97.44, 52.85.97.61, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|52.85.97.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet.1’

green_tripdata_2025 100%[===================>]   1.11M  --.-KB/s    in 0.03s

2026-01-26 06:30:03 (31.9 MB/s) - ‘green_tripdata_2025-11.parquet.1’ saved [1164775/1164775]

In [12]:
#download dataset zone data
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-26 06:30:03--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.116.4
Connecting to github.com (github.com)|140.82.116.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-26T07%3A18%3A24Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-26T06%3A17%3A36Z&ske=2026-01-26T07%3A18%3A24Z&sks=b&skv=2018-11-09&sig=eNC1Hxn%2FaHFFo7adgaN6Nhydwa%2BncmkfK%2By%2B1aEhp8U%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2OTQwOTMwMywibmJmIjoxNzY5NDA5MDAzLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.L5GASC_rEBmBRK66xi93djT9NZKUYPoqFfNdkzNC3u4&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-01-26 06:30:03--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-26T07%3A18%3A24Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-26T06%3A17%3A36Z&ske=2026-01-26T07%3A18%3A24Z&sks=b&skv=2018-11-09&sig=eNC1Hxn%2FaHFFo7adgaN6Nhydwa%2BncmkfK%2By%2B1aEhp8U%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2OTQwOTMwMywibmJmIjoxNzY5NDA5MDAzLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.L5GASC_rEBmBRK66xi93djT9NZKUYPoqFfNdkzNC3u4&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2026-01-26 06:30:03 (26.1 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12322/12322]

In [13]:
import pandas as pd
trip_data = pd.read_parquet("green_tripdata_2025-11.parquet")
zone_data = pd.read_csv("taxi_zone_lookup.csv")

In [14]:
#checking the data sample
trip_data.head(2)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.0,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.0,0.0

In [15]:
#checking the data sample
zone_data.head(2)

   LocationID Borough            Zone service_zone
0           1     EWR  Newark Airport          EWR
1           2  Queens     Jamaica Bay    Boro Zone

In [16]:
#Identify the Dropout Zone by merging zone_data with trip data
df_dropout_zone = pd.merge(trip_data,
    zone_data,
    left_on="DOLocationID",
    right_on="LocationID",
    how="left"
)

df_dropout_zone.head(3)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,LocationID,Borough,Zone,service_zone
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,1.0,11.64,1.0,1.0,0.0,0.0,42,Manhattan,Central Harlem North,Boro Zone
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,1.0,9.70,2.0,1.0,0.0,0.0,42,Manhattan,Central Harlem North,Boro Zone
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,1.0,21.00,1.0,1.0,0.0,0.0,160,Queens,Middle Village,Boro Zone

In [17]:
#Identify the Pickup Zone by merging zone_data with df_dropout_zone
df_pickup_zone = pd.merge(df_dropout_zone,
    zone_data,
    left_on="PULocationID",
    right_on="LocationID",
    how="left"
)

df_pickup_zone.head(3)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,congestion_surcharge,cbd_congestion_fee,LocationID_x,Borough_x,Zone_x,service_zone_x,LocationID_y,Borough_y,Zone_y,service_zone_y
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.0,0.0,42,Manhattan,Central Harlem North,Boro Zone,74,Manhattan,East Harlem North,Boro Zone
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.0,0.0,42,Manhattan,Central Harlem North,Boro Zone,74,Manhattan,East Harlem North,Boro Zone
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.0,0.0,160,Queens,Middle Village,Boro Zone,83,Queens,Elmhurst/Maspeth,Boro Zone

In [18]:
#rename the column
df_2 = df_pickup_zone.rename(columns={"Zone_x": "zone_drop", "Zone_y": "zone_pickup"})

In [19]:
#use groupby to calculate tip amount per zone drop
df_2.groupby("zone_drop").agg(total=("tip_amount", "sum")).sort_values("total", ascending=False)

                             total
zone_drop
LaGuardia Airport          7254.51
Upper East Side North      6964.59
Upper West Side North      5472.67
East Harlem South          4476.26
Upper West Side South      4109.34
...                            ...
Madison                       0.00
Starrett City                 0.00
South Beach/Dongan Hills      0.00
Saint George/New Brighton     0.00
Van Cortlandt Park            0.00

[247 rows x 1 columns]

The drop off zone that had the largest tip is <b> La Guardia Airport (d) </b>, which has value of 7254.51